/* General layout */
.App {
  text-align: center;
}

.wrapper {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#ffffff;
}

.form-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px #555;
  background-color: #ffffff;
}

#btn-next {
  background-color: #ff0e87;
  color: white;
  padding: 15px 45px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#btn-back {
  background-color: #c8cbd6;
  color: white;
  padding: 15px 45px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

button:hover {
  cursor:pointer;
  opacity: 0.6;
}

input[type=checkbox] {
 /* Double-sized Checkboxes */
 -ms-transform: scale(1.5); /* IE */
 -moz-transform: scale(1.5); /* FF */
 -webkit-transform: scale(1.5); /* Safari and Chrome */
 transform: scale(1.5);
 padding: 10px;
} 

#label-txt {
  padding-left: 0.5em;
}

/* Current Page layout */
.alignleft {
  float: left;
  width:33.33333%;
  text-align:left;
}
.aligncenter {
  float: left;
  width:33.33333%;
  text-align:center;
}
.alignright {
 float: left;
 width:33.33333%;
 text-align:right;
}​

/* Submission form */
form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.name,
.role, 
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.name,
.role,
.email,
.password {
  width: 100%;
}

/* Privacy details page */
.privacy-options {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 34em
}

/* Success page */
.react-icon {
  font-size: 80px;
  color: #ff0e87;
}

.success-msg {
  color: #222;
  font-size: 1em;
  font-style: italic;
}


